body{
	@include reinicia();
	.header{
		img{
			width:70px;
			height:70px;
			margin-top:-30px;
			border:4px solid $grey;
		}
	}
	#hire{
		@include hire();
	}
	.video-sect{
		padding:50px;
		height:680px;
		hr{
			border-top:2px solid $grey;
			text-align:center;
		}
	}
}